
/*  GENTERAL CONTENT  */
:root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  --cor-primaria:red;
  --cor-primaria-escura:rgb(160, 0, 0);
  --fundo-1:#f7f7f7;
  --fundo-2:white;
  --texto:black;
  --subtitle:rgba(0,0,0,.2);
  --onda: url(./img/onda.svg) ;
  --botao: white;
}



@media (prefers-color-scheme: dark){
  :root{
    --fundo-1: #111111;
    --fundo-2: #000000;
    --texto:white;
    --subtitle:rgba(255,255,255,.2);
    --onda:url(./img/onda-escura.svg) ;
  }
}

body{
  font-family:Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  gap: 60px;
  background: var(--fundo-1);
  margin-top: 60px;
  font-weight: 500;
  color: var(--texto);
}

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

p{

  font-size: 1.3rem;
  line-height: 1.5rem;
}

/*  HEADER  */

.main-menu{
  display: grid;
  justify-items: center;
  gap: 60px;
}

.main-menu-list{
  display: flex;
  justify-items: center;
  gap: 20px;
}
.main-menu-list li a{
  background: var(--fundo-2);
  padding: 1rem 2rem;
  border-radius: 20px;
  text-transform: uppercase;
  color: var(--texto);
  display: block;
  border: 2px solid transparent;
}

.main-menu-list li a:hover{
  border: var(--cor-primaria) solid 2px;
}

/*  CONTENT */

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.text-content{
  background: var(--fundo-2);
  display: grid;
  gap: 20px;
  justify-items: end;
  align-content: center;
  padding-right: 30px;
  text-align: right;
  position: relative;
}

.text-content::before{
  position: absolute;
  content: "";
  padding: 3px 30px;
  background: var(--cor-primaria);
  top: 30px;
  right: -30px;
}

.text-content h1{
  text-transform: uppercase;
  font-size: 2rem;
}

.text-content p{
  margin-left: 40px;
}

.text-content a{
  background: var(--cor-primaria);
  color: var(--botao);
  padding: 1rem 2rem;
  border-radius: 20px;
  text-transform: uppercase;
}

.text-content a:hover{
  background: var(--cor-primaria-escura);
}

.title-2{
  text-align: right;
  align-self: center;

}
.second-title{
  font-size: 4rem;
  
  padding: 40px 30px ;
  text-transform: uppercase;
  color:var(--subtitle);
  background-image: var(--onda);
  background-size:700px;
}

.descriptions-content{
  padding: 20px;
  background: var(--fundo-2);
}

.descriptions-list{
  display: grid;
  background: var(--fundo-2);
  gap: 20px;
}

.descriptions-list li:hover{
  border-left: var(--cor-primaria) solid 2px;
}
.descriptions:nth-child(odd){
  background: var(--fundo-1);
}

.descriptions{
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 20px 10px;
  padding:10px;
}

.descriptions h3{
  margin: 0px;
}

.descriptions p{
  grid-column: 2;
  margin: 0px;
  padding: 5px 0px;
}

.descriptions img{
  justify-self: right;
}

/*  FOOTER  */

.footer{
  background: var(--fundo-2);
  padding: 20px 0px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

/* RESPONSIVITY */

@media (max-width:900px) and (max-width:1000px){

  .img-wrapper{
    height: 100%;
    object-fit: cover;
  }
  
}

@media (max-width: 899px){
  
  /* Content */

  body{
    word-wrap: break-word;
  }
  
  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .text-content{
    background: var(--fundo-2);
    display: grid;
    gap: 10px;
    justify-items: end;
    align-content: center;
    padding-right: 0px;
    text-align: center;
    
  }
  
  .text-content h1{
    justify-self: center  ;
    font-size: 3rem;
  }
  
  .text-content p {
    margin-left: 0px;
    padding: 10px;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .text-content a {
    justify-self: center;
  }

  .text-content::before{
    position: absolute;
    background: transparent;
    
  }

  .img-wrapper{
    max-width: 100%;
    padding: 0px;
  }

  .second-title{
    text-align: center;
    margin: 0px;
  }

  .descriptions p {
    padding: 10px;
  }
}